{% extends 'base.html' %}

{% block content %}

 <section class="page">
<aside class="left">
            <div class="left-inner">
                <div class="img-card">
                    <img src="/media/img/dan.jpg" alt="">
                </div>
            </div>
        </aside>
        <section class="right">
                <div class="content">
                <p>
                <h1 class="right-title-center">About Me</h1>
                Daniel Ibarra has advised Founders and CEOs as an independent consultant for the last 19 years on long-term financial planning, capital raising, acquisitions and joint ventures across several sectors including FinTech, SaaS, Blockchain, CleanTech, AgTech, Entertainment and Commercial Real Estate. His clients were able to: launch seven new venture-backed businesses; raise over $130 million in venture equity; invest in 16 commercial properties worth over $300 million; and renegotiate over $100 million in defaulted loans. Daniel began his career as a commercial and investment banker with Wells Fargo, DLJ (now UBS) and Jefferies as well as directed the investor relations program for BEA Systems (now Oracle), a Nasdaq-listed enterprise software company. He holds an MBA from Harvard Business School and a BS in Finance from Arizona State University.
                </p>
    </div>
    </section>
    </section>
{% endblock %}