.btn-warning-custom {
    display: inline-block;
    background-color: #ffc107; /* Bootstrap Warning Yellow */
    color: #212529 !important; /* Dark text */
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-warning-custom:hover {
    background-color: #e0a800;
    text-decoration: none;
    transform: translateY(-2px);
}

body {
  background-color: lightgrey;
}